<div class = "container">
   <form class="form-signin">
  <h2 class="form-signin-heading">
   Please enter user information: <br />
 </h2>
<!--     </div> -->
    <%= form_for @user, :class => 'form-signin' do |user_form| %>
    <%= user_form.text_field :username, :class =>'form-control', :placeholder => "Username", :id => "signup_username" %><br>
    <%= user_form.text_field :email, :class =>'form-control', :placeholder => "Email", :id => "signup_email" %><br>
    <%= user_form.password_field :password, :class =>'form-control', :placeholder => "Password", :id => "signup_password" %><br>
    <%= user_form.submit "Create User", :class => "btn btn-lg btn-primary btn-block" %><br>
    <% end %>
  </form>
</div>