<div class ="col-md-5 col-md-offset-3" >


<h1 class = "form-heading"> Contribute to the Herd: </h1>
<%= form_for @post, :remote => true, :html => { :id => 'new_post_form', :class => "form-group" } do |f| %>

  <%= f.text_field  :title, :placeholder => "Title", :class => "form-control" %><br>
  <%= f.text_field  :content, :placeholder => "Description", :class => "form-control" %><br>
  <%= f.file_field :cinemagraph, :placeholder => "Cinemagraph", :class => "form-control", :id => "file_uploader" %><br>
  <%= f.submit "Post Cinemagraph", :id => 'new_post_button', :class => "btn btn-lg btn-primary btn-block"  %>

<% end %>

</div>
