
<div>
  <h1> Cinemagraphs </h1>
<!-- <nav>
    <ul class="nav nav-tabs">
  <li class="active"><a href="#">All</a></li>
  <li><a href="#">Popular</a></li>
  <li><a href="#">New</a></li>
</ul>
</nav> -->

  <ul>
    <% @posts.each do |post| %>

      <div class="cinemagraph">
       <%= image_tag post.cinemagraph_path %>
      <!-- eventually replace with: image_tag post.cinema_still_path -->
        <div class='post-description'>

          <h2><%= link_to post.title, post_path(post) %></h2>
          <p class='post-author'>by <%= link_to post.user.username, user_path(post.user) %></p>

            <div class='vote'>
              <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-up vote-buttons"></i>'), { :controller => 'votes', :action => 'createup', post: post } %>
               
              <span class='vote-text'><%= Vote.vote_count('post', post.id) %></span>
              
              <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-down vote-buttons"></i>'), { :controller => 'votes', :action => 'createdown', post: post } %>
           </div>

        </div>

       </div>

     <% end %>
     <hr>
  </ul>
</div>

<% if logged_in? %>
  <h3><%= link_to "Create new post" , new_post_path%></h3>
<% end %>
