<h1><%= @post.title %></h1>
<hr>
<h5><%= @post.content %></h5>

  <% if @post.has_cinemagraph? %>
    <div class="cinemagraph-img"><%= image_tag @post.cinemagraph_path %></div>
  <% else %>
    <p>No cinemagraph found. Boo.</p>
  <% end %>

<div>
  <% if @comments %>
    <ul>
      <% @comments.each do |comment| %>
      <div class="comment">
        <li>
          <p><%= comment.content %></p></div>
          <div><p>username</p></div>
        </li>
      </div>
      <% end %>
    </ul>
  <% end %>
</div>

  <% if logged_in? %>
<div class="add-comment">
    <%= link_to "Add a Comment", new_post_comment_path(@post) %>
  <% end %>
</div>
