<div>
  <div class='vote'>
    <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-up vote-buttons"></i>'), { :controller => 'votes', :action => 'createup', post: @post } %>

    <span class='vote-text-comment'><%= Vote.vote_count('post', @post.id) %></span>

    <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-down vote-buttons"></i>'), { :controller => 'votes', :action => 'createdown', post: @post } %>
   </div>

  <ul>
      <div class="cinemagraph-comment">
        <% if @post.has_cinemagraph? %>
          <%= image_tag @post.cinemagraph_path %>
        <% else %>
          <p>No cinemagraph found. Boo.</p>
        <% end %>

        <div class='post-description'>

          <h2><%= @post.title %></h2>
          <p class='post-author'>by <%= link_to @post.user.username, user_path(@post.user) %></p>
          <hr>
          <p class='post-content'><%= @post.content %></p>

        <% if logged_in? %>
          <div class="add_comment">
              <%= link_to "Add a Comment", new_post_comment_path(@post), id: "comment_link", remote: true %>
            <% end %>
          </div>


          <div class="messages">
            <% if @comments %>
              <ul id="list_comment">
                <% @comments.each do |comment| %>
                  <li>
                    <p><%= comment.content %></br>
                    username</p>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <div id="comment_form">
          </div>

        </div>

       </div>
    </div>
  </ul>
</div>
