<div class='main'>

  <ul>
      <div class="cinemagraph-comment">
        <% if @post.has_cinemagraph? %>
          <%= image_tag @post.cinemagraph_path %>
        <% else %>
          <p>No cinemagraph found. Boo.</p>
        <% end %>


        <div class='post-description'>
          <h2><%= @post.title %></h2>
          <p class='post-author'>by <%= link_to @post.user.username, user_path(@post.user) %></p>
          <hr>
          <p class='post-content'><%= @post.content %></p>

          <div class='vote_comment'>
            <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-up vote-buttons"></i>'), { :controller => 'votes', :action => 'createup', post: @post } %>

            <span class='vote-text-comment'><%= Vote.vote_count('post', @post.id) %></span>

            <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-down vote-buttons"></i>'), { :controller => 'votes', :action => 'createdown', post: @post } %>
          </div>
        </div>
      </div>


      <div class="messages">
      </div>

      <div id="comment_form">
      </div>

      <% if logged_in? %>
        <div class="message-form">
          <%= render "formcomment" %>
        <div>
      <% end %>

      <div class="new-comment-body">
          <% if @comments %>
            <ul id="list_comment">
              <% @comments.reverse.each do |comment| %>
                <li>
                  <div class="grav_image">
                    <%= image_tag gravatar_for(comment.user), :class => 'profile_pic' %>
                  </div>
                  <div id="comment_div_content">
                    <p>
                      <%= comment.content %></br>
                      <em><%= comment.user.username %></em>
                    </p>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
      <div>


    </div>
  </ul>
</div>
       </div>
