<nav class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <div class='navbar-header'>
      <%= link_to 'CineHerd', root_path, :class => 'navbar-brand' %>
    </div>

      <%= form_tag sessions_path, :class => 'navbar-form navbar-right' do %>
        <% if logged_in? %>
          <%=link_to "Sign Out", '/signout', :method => :delete, :class => "btn btn-danger", :id => 'signout', :confirm => "Are you sure ?"%>
        <% else %>
          <div class='form-group'>
            <%= text_field_tag(:username, nil, placeholder: "Username", class: 'form-control') %>
          </div>
          <div class='form-group'>
            <%= text_field_tag(:password, nil, placeholder: "Password", type: 'password', class: 'form-control') %>
          </div>
          <%= submit_tag("Sign In", :class => 'btn btn-success', :id => 'sign_in') %>
          <div class= 'form-group'>
             <%= link_to 'Sign Up', '/users/new', class: 'btn btn-success'%>

           </div>
        <% end %>
      <% end %>

      <% if logged_in? %>
        <div class = 'navbar-text navbar-right'>
          Welcome, 
          <%= link_to current_user.username, user_path(current_user), :id => 'user_greeting' %>!
        </div>
      <% end %>
  </div>
</nav>